
.tabLabel {
  font-size: 18px;
  font-weight: bold;
}

.cardText ul {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
}

/* Position go to top button so that long headings
 * do not hit it.
 */
.go-to-top-button {
  right: -4px;
  top: -4px;
  overflow: visible !important;
}

.detailPageWhatIs {
  padding: 2em;
  background-color: #999;

}

